Code_for_CRC_dataset/.idea/
Code_for_CRC_dataset/__pycache__/
Code_for_CRC_dataset/venv/
Code_for_CRC_dataset/results/
Code_for_MNIST_dataset/.idea/
Code_for_MNIST_dataset/__pycache__/
Code_for_MNIST_dataset/venv/
Code_for_MNIST_dataset/results/

